# Data
data/

# Features
features/*.npy
features/*.csv

# Models
models/random_forest.pkl
models/model.pkl

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Env
.env
venv/

# Docs artifacts
docs/*.pdf
docs/*.doc
docs/*.docx
docs/*.ppt
docs/*.pptx
docs/~$*